* {
    scroll-behavior: smooth;
}

body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #444444;
    color: #EDEDED;

    margin-left: auto;
    margin-right: auto;
    background-image: url("https://cdn.wallpapersafari.com/89/22/kps95q.gif")
}

img {
    max-width: 100%;
}

.content {
    margin-top: 30px;
    background-color: #171717;
    min-height: 400px;
    padding: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
}
